<div class="container">
  <header class="header">
    <div class="header__heading">SpaceX Launch Programs</div>
  </header>

  <main class="content">
    <div class="content__section1">
      <app-launch-filters></app-launch-filters>
    </div>
    <div class="content__section2">
      <app-launch-satellites></app-launch-satellites>
    </div>
  </main>

  <footer class="footer">
    <div class="footer__title">Developed by:</div>
    <div class="footer__value">Akash Bharati</div>
  </footer>
</div>
